# Sai Practice

In [ ]:
#overview
#variables
#data types
#json
#retrieving data from data types
-------------------------------------------------
# conditions
# loops
# operators
--------------------------------------------------
#functions
--------------------------------------------------
#diff modules & uses [list]
#req modules to start
-------------------------------------------------
#project [can take help of Google]
------------------------------------------------- 
#Oops concepts (need self learning) - optional for learners

In [70]:
!pip install pandas as pd

Requirement already satisfied: pandas in /Users/vinay_kl/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [71]:
import pandas as pd

In [ ]:
pd.

In [72]:
from pprint import pprint

In [26]:
name = "sai"   #string
age = 29     #integer
cls = 11      #integer
height = 6.5 #float
married = False  #boolean
Aaddress = "H:no -10/9, SCA Nagar, Delhi, 500004" #string

In [34]:
print(type(name))

<class 'str'>

In [8]:
print(name, age, cls, height)

sai 29 11 6.5

In [73]:
Person1 = {
    "name":"sai",
    "age": "29",
    "height" : "6.5",
    "leave_dates" : [22,33,44,55],
    "marks" : {"eng" : "22","maths" : "24"}
       }

In [76]:
pprint(Person1)

{'age': '29',
 'height': '6.5',
 'leave_dates': [22, 33, 44, 55],
 'marks': {'eng': '22', 'maths': '24'},
 'name': 'sai'}

In [27]:
2>3

False

In [35]:
LIST = ["colgate paste", "santoor soap", "brush"]
#TUPLE =  ("colgate paste", "santoor soap", "brush")
#SETS = {"colgate paste", "santoor soap", "brush"}
DICTIONARY = {"name" : "sai", "age" : "22"}

In [40]:
print(DICTIONARY["name"])

sai

In [68]:
#1 - if a name is given - it has to give the street name & age


choose = input("please type the name of the voter whose age you want to know - ")
#print(choose)

for i in range(0, len(voter_list["votersName"])):
    #print(voter_list["votersName"][i])
    if voter_list["votersName"][i] == choose:
        print(voter_list["age"][i], voter_list["streetName"][i])

please type the name of the voter whose age you want to know - Srilatha
42 Thadicherla
36 Begampeta

In [53]:
from pprint import pprint

In [51]:
voter_list = {
    "votersName" : ["Aga Rao", "Sarojana", "Narsinga Rao", "Srilatha", "Sridhar Rao", "Srimati", "Thirupathi Rao", "Srilatha"],
    "age" : ["67", "62", "46", "42", "42", "38", "40", "36"],
    "streetName" : ["Thadicherla", "Thadicherla", "Thadicherla", "Thadicherla", "Mutharam", "Mutharam", "Begampeta", "Begampeta"]
}

# conditions, operators, loops
## ---Snake Case, Camel Case, imports, input---
1 - if a name is given - it has to give the street name & age
2 - classify Y M O, based on age Y = 18-28,  M = 29-38, O = 39-120

In [89]:
pprint(voter_list)

{'age': ['67', '62', '46', '42', '42', '38', '40', '36'],
 'streetName': ['Thadicherla',
                'Thadicherla',
                'Thadicherla',
                'Thadicherla',
                'Mutharam',
                'Mutharam',
                'Begampeta',
                'Begampeta'],
 'votersName': ['Aga Rao',
                'Sarojana',
                'Narsinga Rao',
                'Srilatha',
                'Sridhar Rao',
                'Srimati',
                'Thirupathi Rao',
                'Srilatha']}

In [62]:
print(voter_list["age"][2])

46

In [108]:
age = input("please enter your age - ")


if eval(age) >=18 and eval(age) <=30:
    print("you are young person")
    
elif eval(age)>=31 and eval(age) <=60:
    print("you are middle age person")
    
elif eval (age)>=61 and eval(age)<=120:
    print("you are old age person")
        
    
    

else:
    print("dont know")
    
    
      
print("your program is completed")

please enter your age - 65
you are old age person
your program is completed

In [109]:
List = ["Aga Rao", "Sarojana", "Narsinga Rao", "Srilatha", "Sridhar Rao", "Srimati", "Thirupathi Rao", "Srilatha"]

In [123]:
for i in range(0,len(List)):
    print(List[i])

    
# i=0
# while i<6:
#     print(List[i])
#     i = i +1

Aga Rao
Sarojana
Narsinga Rao
Srilatha
Sridhar Rao
Srimati
Thirupathi Rao
Srilatha

In [122]:
print(len(List))

8

# 1 - if a name is given - it has to give the street name & age
# 2 - classify Y M O, based on age Y = 18-28,  M = 29-38, O = 39-120

In [124]:
voter_list = {
    "votersName" : ["Aga Rao", "Sarojana", "Narsinga Rao", "Srilatha", "Sridhar Rao", "Srimati", "Thirupathi Rao", "Srilatha"],
    "age" : ["67", "62", "46", "42", "42", "38", "40", "36"],
    "streetName" : ["Thadicherla", "Thadicherla", "Thadicherla", "Thadicherla", "Mutharam", "Mutharam", "Begampeta", "Begampeta"]
}

In [125]:
pprint(voter_list)

{'age': ['67', '62', '46', '42', '42', '38', '40', '36'],
 'streetName': ['Thadicherla',
                'Thadicherla',
                'Thadicherla',
                'Thadicherla',
                'Mutharam',
                'Mutharam',
                'Begampeta',
                'Begampeta'],
 'votersName': ['Aga Rao',
                'Sarojana',
                'Narsinga Rao',
                'Srilatha',
                'Sridhar Rao',
                'Srimati',
                'Thirupathi Rao',
                'Srilatha']}

In [142]:
for i in range(0,len(voter_list["age"])):
    sai = (voter_list["age"][i])
    print(sai)
    
    if eval(sai) >=18 and eval(sai) <=30:
        print("you are young person")
    
    elif eval(sai)>=31 and eval(sai) <=60:
        print("you are middle age person")
    
    elif eval (sai)>=61 and eval(sai)<=120:
        print("you are old age person")
        
    else:
        print("dont know")

67
you are old age person
62
you are old age person
46
you are middle age person
42
you are middle age person
42
you are middle age person
38
you are middle age person
40
you are middle age person
36
you are middle age person

In [132]:
i=1

pprint(voter_list["age"][i])

'62'

In [136]:
print(len(voter_list["age"]))

8

In [6]:
given_input = input("please enter a number or word to check wether its a palindrome or not - ")

converted_input = ""

for i in range(0,len(given_input)):
    
    k = (len(given_input)-1) - i
#     print(k)
    converted_input = converted_input + (given_input[k])
#     print(converted_input)


if converted_input == given_input:
    print("you have entered a palindrome")

else:
    print("its not a palindrome")

please enter a number or word to check wether its a palindrome or not -
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }uytyu
you have entered a palindrome

In [7]:
def palindrome(given_input):
    converted_input = ""

    for i in range(0,len(given_input)):

        k = (len(given_input)-1) - i
    #     print(k)
        converted_input = converted_input + (given_input[k])
    #     print(converted_input)


    if converted_input == given_input:
        print("you have entered a palindrome")

    else:
        print("its not a palindrome")

In [10]:
freefire = input()

palindrome(given_input = freefire)

if ad

malayalam
you have entered a palindrome